<configuration>
  <packageSources>
    <clear />

    <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Signature-OpenSource" value="https://pkgs.dev.azure.com/Signature-OpenSource/Feeds/_packaging/NetCore3/nuget/v3/index.json" />
    <add key="LocalFeed-Local" value="C:/Dev/CK/LocalFeed/Local" />
    <add key="LocalFeed-Develop" value="C:/Dev/CK/LocalFeed/CI" />
    <add key="LocalFeed-Master" value="C:/Dev/CK/LocalFeed/Release" />
  </packageSources>

  <disabledPackageSources>
    <add key="NuGet" value="true" />
    <add key="MyGet_Invenietis_Preview" value="true" />
    <add key="MyGet_Invenietis_CI" value="true" />
    <add key="VSTS_Invenietis_CI" value="true" />
    <add key="VSTS_Invenietis_Legacy" value="true" />
    <add key="VSTS_Invenietis_Signature_CI" value="true" />
  </disabledPackageSources>

</configuration>